input{
    margin:0.5rem;
    border-color: #1F988A;
    border-style: solid;
    border-radius: 5px;
}

label{
    color: #2d3047;
    border-color: #1F988A;
}

.card{
    width: 50%;
    margin: 0 auto;
}

.MyError{
    color: red;
}
.MyWarning{
    color: yellow;
}

button{
    margin: 0.5rem;
    
}

.card-body{
    justify-content: center;
}
.element{
    display: block;

}
